.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin: 1%;
  background-color: black;
  border-radius: 10px;
}

.nav-left a,
.nav-right a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.nav-left a:hover,
.nav-right a:hover {
  background-color: white;
  color: black;
  transform: translateY(-5px); 
  border-radius: 4px;
}

.nav-left a:active,
.nav-right a:active {
  transform: translateY(0); 
}
